<div class='container-fluid'> 
    <div class='row-fluid' id='content-wrapper'> 
        <div class='span12'> 
            <div class='page-header'> 
                <h3 class='pull-left'> 
                    <i class='icon-search'></i> 
                    <span>Search results for "<%= @query %>"</span> 
                </h3> 
            </div> 

            <%= content_tag_for :div, @users, class: "row-fluid" do |user| %>
                <div class='span12 box'> 
                    <div class='box-content'> 
                        <h4><a href="#" class="text-contrast"><%= link_to user.email, user %></a></h4> 
                    </div> 
                </div> 
            <% end %>

        </div> 
    </div> 
</div> 
